# Activar el motor de reescritura
RewriteEngine On



# Redirigir la raíz de /unidad4/examen/ a index.php
RewriteCond %{REQUEST_URI} ^/unidad4/examen/$ [NC]
RewriteRule ^ unidad4/examen/index.php [L]

# Redirigir al dashboard ubicado dos carpetas más abajo
RewriteCond %{REQUEST_URI} ^/unidad4/examen/tpm/dashboard/$ [NC]
RewriteRule ^ unidad4/examen/tpm/dashboard/index.php [L]

# Manejo de errores: redirigir errores 404 a la página principal
ErrorDocument 404 /unidad4/examen/index.php



